@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face { */
/* font-family: 'Radioland Regular'; Name your font family */

/* src: url('../../font/RADIOLAND.TTF') format('truetype'); */
/* } */

:root {
	color-scheme: dark;
}
.text-unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
	@apply bg-black;
	font-family: Arial, Helvetica, sans-serif;
}
.allCenterWrapper {
	@apply z-0 flex items-center justify-center w-screen h-screen;
}
/* nodes */
.selected {
	fill: theme('colors.stone.400') !important;
	stroke: theme('colors.gray.900');
	/* stroke: theme('c'); */
}

.path {
	transition-property: stroke;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	stroke: theme('colors.stone.400') !important;
}

.start {
	fill: theme('colors.lime.900');
	stroke: theme('colors.lime.900');
	/* stroke-width: ; */

	/* stroke: theme('c'); */
}
.finish {
	fill: theme('colors.orange.900');
	stroke: theme('colors.orange.900');
	/* stroke-width: ; */

	/* stroke: theme('c'); */
}
